@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0059acca;
  --light-primary-color: #f3f7ff;
  --light-gray: #f2f4f7;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  color: #80000065;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #88888886;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5555557a;
}

/*
//////////////////////////////////////////////
        GENERAL STYLES
//////////////////////////////////////////////
*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

input,
textarea {
  border: none;
  outline: none;
}
a,
button,
select {
  cursor: pointer;
  background-color: none;
  outline: none;
  border: none;
}

button:disabled {
  cursor: not-allowed;
}

.btn-primary:disabled::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid;
  border-top-color: white !important;
  -webkit-animation: loader 0.8s linear infinite;
  animation: loader 0.8s linear infinite;
}
.btn-primary:disabled {
  position: relative;
  color: #fec330 !important;
}
.disabled {
  background-color: #fec330 !important;
  color: #fff !important;
  text-decoration: none !important;
}

body {
  font-family: "Montserrat", sans-serif;
}
.contain {
  width: 90%;
  max-width: 2000px;
  margin: 0 auto;
}

.searchBar {
  background-color: #fafaf8;
  padding: 1.7rem;
  border-radius: 1.5rem;
  border: solid 1px #99999912;
}
.searchBar input {
  width: 45rem;
  background-color: transparent;
  font-size: 1.6rem;
}
.hero {
  background-image: url("../src/assets/images/card-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5rem;
  background-position: center;
}
.meal-image img {
  border-radius: 5rem;
  box-shadow: 2px 2px 2rem #00000034;
}
.meal-image span {
  border-radius: 4rem;
}
.category {
  border: solid 1px #eee;
  border-radius: 3rem;
  background-color: #fdfdfc;
  transition: all 0.5s ease-in-out;
}
.category span {
  border-radius: 1rem;
}
.category:hover {
  border-color: #46c286;
  background-color: #f3fbf7;
}
.category.active {
  border-color: #46c286;
  background-color: #f3fbf7;
}
.detail img {
  border-radius: 7rem;
  box-shadow: 2px 2px 2rem #00000034;
  outline: solid 1px #9999998f;
  outline-offset: 2rem;
}
.detail span {
  border-radius: 7rem;
}
.custom-popup-title {
  font-size: 1.7rem !important;
}

.form {
  width: 75%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 2px 2px 2rem #00000034;
  border-radius: 1.5rem;
  padding: 5rem 7rem;
  padding-top: 7rem;
}

.form div label {
  display: inline-block;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.form div input {
  display: block;
  font-size: 1.7rem;
  margin-bottom: 4rem;
  border: solid 1px #d7d7d7;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 1rem #0000000f;
  width: 100%;
}

.form button {
  background-color: #fec330;
  font-size: 2rem;
  width: 100%;
  padding: 1.5rem;
  border-radius: 4rem;
  color: #fff;
  font-weight: 700;
  margin-top: 2rem;
}

.view-pwd {
  position: absolute;
  bottom: 15%;
  right: 5%;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
